<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<p>
  For troubleshooting, contact Anh on <a href="http://github.com/LaDilettante">his github page</a>
</p>

<p>
  Current students, you know how to contact me.
</p>
